.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 20px auto;
    padding: 12px 24px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);;
  }
  
  .navbar-logo {
    font-weight: 600;
    font-size: 18px;
    color: #2C2C2C;
  }
  
  .navbar-links {
    display: flex;
    gap: 24px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #2C2C2C;
    font-size: 18px;
  }
  
  .navbar-links a.active {
    color: #C0392B;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    color: #E67E22;
  }

  .website-title {
    font-size: 60px;
    padding: 24px 24px;
    color:  #2C2C2C;
  }

  .outerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 12px 24px;
  }

  .sign-out-btn {
    background: none;
    border: none;
    color: #2C2C2C;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
  }
  
  .sign-out-btn:hover {
    color: #E67E22;
  }